.wrapper {
	position: relative;
	height: 100vh;
	display: flex;
	font-family: $sans-font;
	background: var(--background--800);
	overflow: hidden;

	@include respond-to("medium") {
		flex-direction: column;
	}
}

.button {
	padding: 1rem 2rem;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	background: none;
	cursor: pointer;
	transition: 200ms ease;
	border: .125rem solid var(--foreground);
	color: var(--foreground);

	&::after {
		content: "";
		width: calc(100% + 2rem);
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		transform: translate(calc(-100% - 1rem)) skewX(-20deg);
		transition: 400ms ease;
		background: var(--foreground);
	}

	@include on-event {
		color: var(--background);
		outline: .125rem solid var(--background--300);

		&::after {
			transform: translate(-1rem) skewX(-20deg);
		}
	}

	&__text {
		position: relative;
		z-index: 1;
		transition: 200ms ease;
		font-size: inherit;
		font-family: "Outfit", sans-serif;
		color: inherit;
	}

	&--read-more {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0.5rem;
		border: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity 400ms ease;
		color: var(--white-light);
		background: linear-gradient(to bottom,
				transparent,
				var(--background--800));

		svg {
			width: 1rem;
			height: 1rem;
			margin: 0 0.5rem;
		}

		&::after {
			display: none;
		}

		@include on-event {
			color: var(--white-light);
		}
	}
}

.list {
	padding-left: 0.4rem;

	&__item {
		display: flex;
		margin-bottom: 0.5rem;
		color: var(--foreground--400);
		align-items: center;
	}

	&__marker {
		flex: 0 0 1.25rem;
		margin-right: 0.5rem;
		color: var(--foreground);
	}
}